@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

.quiz-container{
  background-color: #6096BA;
  text-align: center;
}

.pregunta{
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.respuestas {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}

.respuestas label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	background-color: #6096BA;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 20px;
}

button:hover{
	background-color: #A3CDF1;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}

#anterior, #siguiente{
  margin-top: 10px;
}

#siguiente, #enviar{
  background-color: #113662;
}

#contador-container{
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .pregunta{
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 10px;
  }
}

